<% was_validated = log.errors.any? %>

<%= form_with(model: log, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% activity_class = "form-control" %>
    <% activity_was_invalid = log.errors.include?(:activity) %>

    <% if was_validated %>
      <% if activity_was_invalid %>
        <% activity_class << " is-invalid" %>
      <% else %>
        <% activity_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :activity_id %>
    <%= f.collection_select :activity_id, Activity.order(:name), :id, :to_s, {}, class: "form-control activity-select", onChange: "toggleDistance()" %>
    <% if activity_was_invalid %>
      <% log.errors.full_messages_for(:activity).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = log.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="form-group">
    <% started_at_class = "form-control" %>
    <% started_at_was_invalid = log.errors.include?(:started_at) %>

    <% if was_validated %>
      <% if started_at_was_invalid %>
        <% started_at_class << " is-invalid" %>
      <% else %>
        <% started_at_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :started_at %>
    <div class='input-group date' id='started_at_picker' data-target-input="nearest">
      <%= f.text_field :started_at, :class => started_at_class, :placeholder => "When did you do the activity?", value: nil, :data => {:target => '#started_at_picker'} %>
      <div class="input-group-append" data-target='#started_at_picker' data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#started_at_picker').datetimepicker({
          format: 'MM/DD/YYYY hh:mm:ss',
          defaultDate: '<%= log.started_at.present? ? log.started_at.strftime("%b %e, %l:%M %p") : Date.today.strftime("%b , %-l:%M %p") %>'
        });
      });
    </script>
  </div>
  <div class="form-group">
    <% duration_class = "form-control" %>
    <% duration_was_invalid = log.errors.include?(:duration) %>

    <% if was_validated %>
      <% if duration_was_invalid %>
        <% duration_class << " is-invalid" %>
      <% else %>
        <% duration_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :duration %>
    <%= f.number_field :duration, class: duration_class, placeholder: "Enter duration" %>
    <% if duration_was_invalid %>
      <% log.errors.full_messages_for(:duration).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group" id="distance-field">
    <% distance_class = "form-control" %>
    <% distance_was_invalid = log.errors.include?(:distance) %>

    <% if was_validated %>
      <% if distance_was_invalid %>
        <% distance_class << " is-invalid" %>
      <% else %>
        <% distance_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :distance, "Distance (in miles)" %>
    <%= f.number_field :distance, class: distance_class, placeholder: "Enter distance", step: 0.1 %>
    <% if distance_was_invalid %>
      <% log.errors.full_messages_for(:distance).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <script>
      function toggleDistance() {
        console.log("dd");
          var activity = document.getElementsByClassName('activity-select')[0];
          var cont = document.getElementById('distance-field');
          console.log(activity.value)
          console.log(cont.style.display)
          if (activity.value == '5') {
              cont.style.display = 'none';
          }
          else {
              cont.style.display = 'block';
          }
      }
  </script>
  <div class="form-group">
    <% calory_class = "form-control" %>
    <% calory_was_invalid = log.errors.include?(:calory) %>

    <% if was_validated %>
      <% if calory_was_invalid %>
        <% calory_class << " is-invalid" %>
      <% else %>
        <% calory_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :calories %>
    <%= f.number_field :calories, class: calory_class, placeholder: "Enter calories" %>
    <% if calory_was_invalid %>
      <% log.errors.full_messages_for(:calory).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
