<%= search_form_for @q, :class => collapse_search_form, :id => "logs_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :calories, "Calories" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :calories_gteq, :class => "form-control", :placeholder => "Calories greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :calories_lteq, :class => "form-control", :placeholder => "Calories less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :distance, "Distance" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :distance_gteq, :class => "form-control", :placeholder => "Distance greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :distance_lteq, :class => "form-control", :placeholder => "Distance less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :duration, "Duration" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :duration_gteq, :class => "form-control", :placeholder => "Duration greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :duration_lteq, :class => "form-control", :placeholder => "Duration less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :started_at, "Started at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='started_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :started_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Started at greater than or equal to", :data => {:target => '#started_atgteqPicker'} %>
          <div class="input-group-append" data-target='#started_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='started_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :started_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Started at less than or equal to", :data => {:target => '#started_atlteqPicker'} %>
          <div class="input-group-append" data-target='#started_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#started_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#started_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#started_atgteqPicker').on("dp.change", function (e) {
              $('#started_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#started_atlteqPicker').on("dp.change", function (e) {
              $('#started_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :user_name_cont, "User name contains" %>
    <%= f.text_field :user_name_cont, :class => "form-control", :placeholder => "User name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :activity_name_cont, "Activity name contains" %>
    <%= f.text_field :activity_name_cont, :class => "form-control", :placeholder => "Activity name contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/logs" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#logs_filters">
  Show filters
</a>
