<%= search_form_for @q, :class => collapse_search_form, :id => "logs_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :activity_name_cont, "Activity name contains" %>
    <%= f.text_field :activity_name_cont, :class => "form-control", :placeholder => "Activity name contains" %>
  </div>
  <div class="form-group">
    <%= f.label :started_at, "Completed between" %>
    <div class="row mb-1">
      <div class='col-md-12'>
        <div class='input-group date' id='started_at_gteqPicker' data-target-input="nearest">
          <%= f.text_field :started_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "On or after...", :data => {:target => '#started_at_gteqPicker'}, value: nil %>
          <div class="input-group-append" data-target='#started_at_gteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class='col-md-12'>
        <div class='input-group date' id='started_at_lteqPicker' data-target-input="nearest">
          <%= f.text_field :started_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "On or before...", :data => {:target => '#started_at_lteqPicker'}, value: nil %>
          <div class="input-group-append" data-target='#started_at_lteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#started_at_gteqPicker').datetimepicker({
            format: 'MM/DD/YYYY',
            defaultDate: '<%= @q.started_at_gteq.try(:strftime, "%m/%d/%Y") %>'
          });
          $('#started_at_lteqPicker').datetimepicker({
            format: 'MM/DD/YYYY',
            defaultDate: '<%= @q.started_at_lteq.try(:strftime, "%m/%d/%Y") %>'
          });
          $('#started_at_gteqPicker').on("dp.change", function (e) {
              $('#started_at_lteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#started_at_lteqPicker').on("dp.change", function (e) {
              $('#started_at_gteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/logs" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#logs_filters">
  Show filters
</a>
